body {
    display: flex;
    flex-direction: column;
}

body div {
    padding-left: 20px;
    padding-right: 20px;
}

.div1 {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.sign_up_button {
    background-color: #3882F6;
    padding: 20px;
    align-content: flex-start;
    display: flex;
}

.webDisc {
    display: flex;
    column-gap: 500px;
    padding: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    list-style: none;
    display: flex;
    column-gap: 64px;
    align-items: center;
    padding: 0px;
    font-size: 20px
}
