body {
    display: flex;
    flex-direction: column;
}

body div {
    padding-left: 20px;
    padding-right: 20px;
}

.div1 {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* padding-left: 20px;
    padding-right: 20px; */
}

.div2 {
    background-color: white;
}

.div3 {
    background-color: #E5E7EB;
}

.div4 {
    display: flex;
    justify-content: center;
}

.div4 button {
    height: fit-content;
    align-self: end;
    margin-bottom: 20px;
}

.call-to-action {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}

.call-to-action h4 {
    margin: 0px;
}

.div3 h2 {
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}

.div3 h3 {
    text-align: right;
}

/* TODO: Remember to credit!!!
 https://unsplash.com/collections/619629/square-orientation */

.image_container {
    display: flex;
    justify-content: space-evenly;
}

.image_container div img{
    width: 200px;
    height: 200px;
    border-radius: 25px;
}

.content h3 {
    text-align: center;
    width: 200px;
}

.sign_up_button {
    background-color: #3882F6;
    padding: 20px;
    align-content: flex-start;
    display: flex;
    /* border-radius: 25px; */
    color: #F9FAF8;
    border: solid #3882F6;
    font-size: 18px;
 }

.description {
    width: 400px;
}

.webDisc {
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    list-style: none;
    display: flex;
    column-gap: 64px;
    align-items: center;
    padding: 0px;
    font-size: 20px
}
